<div class="blog-card alt" oonclick="window.location.href='{{ SITEURL }}/{{ article.url }} '">
    <div class="meta">
        <div class="photo" style="
                    background-image: url( {{ article.headerimage }} )"></div>
        <ul class="details">
            <li class="author">{{ article.author }}</li>
            <li class="date">{{ article.locale_date }}</li>
            <li class="tags">
                <ul>
                    <li>{{ article.category }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.subtitle }}</h2>
        <p>{{ article.summary|striptags }}</p>
        <p class="read-more">
            <a href="{{ SITEURL }}/{{ article.url }}">Read More</a>
        </p>
    </div>
</div>