<header>
    <div class="header-wrapper container-md d-flex justify-content-between align-items-center">
        <div class="col d-flex align-items-center">
            <a class="nav-logo me-4" href="/"></a>
            <h4>Softy Tech</h4>
        </div>
        <div class="col d-flex justify-content-end">
            <nav>
                <ul class="d-inline-flex">
                    <li class="mx-3">
                        <a href="/">
                            <span class="menu-icon"><i class="fa-solid fa-house"></i></span>
                            <span class="menu-text">Home</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>