.main-content h2 {
  font-family: "Orbitron", sans-serif;
}

.main-content h3 {
  font-family: "Orbitron", sans-serif;
  margin-top: 20px;
}

.main-content p,
.main-content ul li {
  margin-top: 10px;
  font-family: "Work Sans", sans-serif;
}

.main-content ul li {
  list-style: none;
  margin-left: 25px;
}

.main-content a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: var(--primary-color);
}

form p {
  color: var(--light-color);
  font-family: "Orbitron", sans-serif !important;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
