{% extends "base.html" %}

{% block content %}

<div class="main-content">


  {% for article in articles_page.object_list %}
  {% if loop.index is divisibleby(2) %}
  {% include 'includes/blogPost-Alt.html' %}
  {% else %}
  {% include 'includes/blogPost.html' %}
  {% endif %}
  {% endfor %}


  {% if DEFAULT_PAGINATION %}
  <div class="pagination">
    {% if articles_page.has_previous() %}
    <a class="pageBtn" href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i
        class="fa-solid fa-chevron-left"></i></a>
    {% endif %}
    {% for page_number in range( 1, 1 + articles_paginator.num_pages ) %}
    <a class="{{ 'pageBtn currentPageBtn' if page_number == articles_page.number else 'pageBtn' }}"
      href="{{ SITEURL }}/{{ page_name }}{{ page_number if page_number > 1 else '' }}.html">{{ page_number }}</a>
    {% endfor %}
    {% if articles_page.has_next() %}
    <a class="pageBtn" href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="fa-solid fa-chevron-right"></i></a>
    {% endif %}
  </div>
  {% endif %}

</div>

</div>

{% endblock %}